<!DOCTYPE html>
<html>
<head>
  <title>Why books?</title>
  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/outer.css" rel="stylesheet" />
  <script src="/js/jquery.js" ></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/books.js"></script>
</head>
<body class="homebody">
  <div class="container">
    <h1>Why should you read?</h1><br>


    <div class="mynavbar">
      <div class="navbarelements" style="border-width: 0px; font-weight: bold;"><h3>Home</h3></div>
      <div class="navbarelements"><h4>{{ search }}</h4></div>
      <div class="navbarelements"><h4>{{ bestsellers }}</h4></div>
      <div class="navbarelements"><h4>{{ why }}</h4></div>
      <div class="navbarelements"><h4>{{ register }}</h4></div>
      <div class="navbarelements"><h4>{{ login }}</h4></div>
    </div><br>

    <div class="bookdiv">
      <h3>Let the experts tell you!</h3>
      <p>
        Don't believe me? Here's what <a href="http://vcresearch.berkeley.edu/faculty/anne-e-cunningham" target="_blank">Anne E. Cunningham</a> and <a href="http://en.wikipedia.org/wiki/Keith_Stanovich" target="_blank">Keith Stankovic</a> have to say: <a href="http://www.csun.edu/~krowlands/Content/Academic_Resources/Reading/Useful%20Articles/Cunningham-What%20Reading%20Does%20for%20the%20Mind.pdf" target="_blank">What Reading Does for the Mind</a><br>
        Need I say anything more? <a href="http://www.telegraph.co.uk/health/healthnews/5070874/Reading-can-help-reduce-stress.html" target="blank">Reading and stress</a><br>
        Okay, I'll let the <a href="http://arts.gov/">NEA</a> convince ya. <a href="http://arts.gov/sites/default/files/ToRead.pdf" target="_blank">To Read or Not To Read: A Question of National Consequence</a>
      </p>
    </div>

    <div class="bookdiv">
      <h3>It’s just like being there</h3>
      <p>Reading about something is as close as you can get to actually being there without actually being there. A contrarian might suggest he’d rather have adventures than read about them, and that sticking your nose in a book is no substitute for getting your hands dirty. It’s a fair point, but some of us are saddled with responsibilities that keep us from sailing the Indian Ocean with a disgraced young lord looking for redemption, or walking the Parisian underworld between the wars.</p>
    </div>


    <div class="bookdiv">
      <h3>It’s entertaining</h3>
      <p>This one might be a tough sell to the guys who haven’t picked up a novel since high school. You’ve heard people in the back of the movie theater flapping their gums about how “the book was way better.” They may sound pretentious, but they also may have a point. Nine times out of 10, the book is better than the movie, because the person who read it was able to relate to it or understand it in a way that was personal to them.<br>
      On top of that, books never have to worry about special effects budgets or if a sex scene is going to earn an NC-17 rating or about compromising anything to anyone. Books are a direct link between the artist’s creative talent and the audience, and there’s a book that touches on every subject you could ever be interested in, but that’s not even the kicker.<br>
      The best thing about a book is that it tells you half the story and forces you to come up with all the scenery and information yourself, in a way that TV and video games can’t. Your mind in forced to fill in the blanks automatically, and the product is better than what anybody could ever spoon-feed you from a screen.</p>
    </div>


    <div class="bookdiv">
      <h3>Reading lets you in on the joke</h3>
      <p>Almost everything anyone is ever talking about stems from a book, or an idea that was rooted in one. Every episode of The Simpsons and Sopranos, every news story, and even every football game on Monday night is brought back to and contextualized by the characters, plots and motivations that have been written down over the past 3,000 years. Our culture isn’t much more than a series of winks and nudges referring to what our storytellers have read, written and tweaked. The reward comes from having read through the same lines that someone else has and recognizing in their words a path that you’ve already tread. It becomes your own because your take on the story is guaranteed to be individual, making your experience all the richer and all the more personal to you.</p>
    </div>


    <div class="bookdiv">
      <h3>It makes you more attractive!</h3>
      <p>This goes hand in hand with reading to become smarter. Having a library of information that you have picked up from non-fiction reading will come in handy in any academic or scholarly conversation. You will be able to hold your own and add to the conversation instead of having to make your excuses and leave.  You will be able to engage a wider variety of people in conversation and in turn improve your knowledge and conversation skills.</p>
    </div>

    <div class="bookdiv">
      <h3>To Develop a Personality!</h3>
      <p>In his book <a href="http://www.amazon.com/gp/product/0684859076/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0684859076&linkCode=as2&tag=lmlrn-20" target="_blank">How to Read and Why</a>, Harold Bloom says that we should read slowly, with love, openness, and with our inner ear cocked. He explains we should read to increase our wit and imagination, our sense of intimacy–in short, our entire consciousness–and also to heal our pain. “Until you become yourself, what benefit can you be to others.” With the endless amount of perspectives and lives we can read about, books can give us an opportunity to have experiences that we haven’t had the opportunity to, and still allow us to learn the life skills they entail. Books are a fast track to creating yourself. read

</p>
    </div>



  </div>

    
  
</body>
</html>