<html>
<head>

  <title>Article created!</title>
  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/homecss.css" rel="stylesheet">
  <script src="/js/bootstrap.js"></script>
</head>
<body class="homebody">
<div class="successdiv"></div>
<div class="container">
  <h1>How's it feel to be a writer? ;)</h1>
      <p style="float:left;">
        Thank you for putting your thoughts to keyboard! You can find your article at:<br><br>
        <a href={{ articleUrl }} target="_blank">{{ articleUrl }}</a><br><br>

        You can always go back and write something more through <a href="/write">here</a> or <a href="/loginsuccess">go home</a>.<br>
      </p>
      <img style="float:right;" src="css/images/write.jpg" class="text-center" />
      </div>
      
</div>
  
</body>
</html>