<html>
<head>
  <title>Something went wrong!</title>
  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <script src="/js/bootstrap.js"></script> 
</head>
<body>
  <div class="container">
    <h1>Something went wrong ! :(</h1>
    <p>There was an error! Probable causes include the database going corrupt or someone tampering the session cookie stored in your browser. Also the ISBN after /review might have been changed. That unfortunately means you'll have to enter your password again if you were logged in. You can go to:
    <br><a href="/">The homepage</a>
    <br><a href="/login">The login page</a>
    </p>
  </div>
  
</body>
</html>