<!DOCTYPE html>
<html>
<head>
  <title>Welcome!</title>
  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
  <script src="/js/jquery.js" ></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/home.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/outer.css" rel="stylesheet" />
</head>
<body class="homebody">
  <div class="container">
    <div class="rotatediv"></div>

    <div class="displaydiv">
    	<h1>Welcome to ReadMe!</h1><br><br>
    	<p><h2><ul>
    	<li><a href="/list">Read Books</a></li><br>
    	<li><a href="/register">Read/Write Articles</a></li><br>
    	</ul><br></h2>
    	<h2>..What else can a person who reads want? </h2></p>
    	<br><a href="/books">Why is reading so important?</a>
    </div>
    <div class="homebookdiv">
          
    </div>
    </div>

	</body>
</html>