<html>
<head>
  <title>Welcome!</title>
  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <script src="/js/bootstrap.js"></script>
  <link href="/css/register.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1>Welcome!</h1>
    <p>This is a website that aims at bringing users that share a common interest closer! Like reading? Use this service. Care about what Chris Brown said? Use this website! You can connect to users based on what you like and what you read! :)
    <br><a href="/register">Register here!</a>
    <br><a href="/login">Login here!</a></p><br><br>

    <div id="all">
      <div class="sub">
        <iframe width="640" height="390" src="//www.youtube.com/embed/IhOZNiO1040" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    

  </div>

    
  </form>
  
</body>
</html>