<!DOCTYPE html>
<html>
<head>
  <title>The current best-sellers..</title>
  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/outer.css" rel="stylesheet" />
  <script src="/js/jquery.js" ></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/list.js"></script>
</head>
<body class="homebody">
  <div class="container">
    <h1>What should you read?</h1><br>

    <div class="mynavbar">
      <div class="navbarelements" style="border-width: 0px; font-weight: bold;"><h3>Home</h3></div>
      <div class="navbarelements"><h4>{{ search }}</h4></div>
      <div class="navbarelements"><h4>{{ bestsellers }}</h4></div>
      <div class="navbarelements"><h4>{{ why }}</h4></div>
      <div class="navbarelements"><h4>{{ register }}</h4></div>
      <div class="navbarelements"><h4>{{ login }}</h4></div>
    </div><br>
    <div class="listtext">

    <div id="hovertext"><b>What does this page do? Hover to find out!</b></div>
    <div id="hovershow">
      Shows the various categories of THE NEW YORK TIMES BEST-SELLERS LIST</a> for the current week<br>
      Tip: <b>Hover, click and images are your friends! ;)</b>
    </div>



    </div>

    <div class="buttondiv"><button class="button1 btn-primary" id="b1">Go Back!</button></div>
    <div class="listitems"><div class="maindiv"></div></div>
    <div class="viewdiv"></div>



    
  
</body>
</html>