<html>
<head>
  <title>Home</title>
  	  <link href="/css/bootstrap.css" rel="stylesheet" />
  	  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
	  <link href="/css/register.css" rel="stylesheet" />
	  <link href="/css/homecss.css" rel="stylesheet" />
	  <script src="/js/bootstrap.js"></script> 
	  <script src="/js/jquery.js"></script>
	  <script src="/js/loginsuccess.js"></script>
</head>
<body class="homebody">
<div class="container" ><div class="h1div"><h1>Welcome!</h1></div>

    <div class="mynavbar">
      <div class="navbarelements" style="border-width: 0px; font-weight: bold;"><h3>Home</h3></div>
      <div class="navbarelements"><h4>User Activity</h4></div>
      <div class="navbarelements"><h4>Search</h4></div>
      <div class="navbarelements"><h4>Write</h4></div>
      <div class="navbarelements"><h4>Books!</h4></div>
      <div class="navbarelements"><h4>Log out!</h4></div>
    </div><br>

        <div id="hovertext"><b>What does this page do? Hover to find out!</b></div>
    <div id="hovershow">
      Shows various categories that you can read articles about!<br>
      Tip: Hover, Click and the Button below are your friends! ;)</b>

    </div>
	<hr>
	<div class="formdiv">
	<form action="/categorysearch" id="categorysearch">
		
			<div class="category" id="Sports">Sports</div>
			<div class="category" id="Film">Film</div>
			<div class="category" id="Technology">Technology</div>
			<div class="category" id="Economics">Economics</div>
			<div class="category" id="Science">Science</div>
			<div class="category" id="Travel">Travel</div>
			<div class="category" id="Fashion">Fashion</div>
			<div class="category" id="Health">Health</div>
		
		<br><br>
		<button type="submit" value="Continue!" class="btn-primary btn-block continuebutton">Continue!</button><br>
		<div class="errors" id="errors"></div>
	</form>
	</div>
	<div class="showdiv">
	Not interested in these much? The category you selected previously will <b>remain selected!</b><br><br>
		<button class="btn-primary hider">Go back!</button>
	</div>
	<hr>
	<script src="js/loginsuccessquery.js"></script>
  </div>
</body>
</html>