<html>
<head>

  <title>Registration Successful!</title>
  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/register.css" rel="stylesheet">
  <script src="/js/bootstrap.js"></script>

</head>
<body class="homebody">
<div class="container">
  <h1>So that was easy, wasn't it? ;)</h1>
      <p style="float: left;">
        Thank you for registering! You should receive an e-mail on the e-mail address you provided with your generated password. Use that to log in to the website!<br><br>
        <a href="/login">Take me to the login page</a>
      </p>
      <img src="css/images/woohoo.png" style="float: right;" />
</div>
  
</body>
</html>