<html>
<head>
  <title>Update here</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/register.css" rel="stylesheet" />
  
  <script src="/js/bootstrap.js" ></script>
  <script src="/js/jquery.js" ></script>
  
</head>
<body>
  <div class="container">
  <h1>Update Query in MongoDB</h1>

  I have created a collection in the online MongoDB with the name 'UpdateCollection' and 1 record with 'userID' field set to 1. The value of the column 'userName' will be set to the input in the textbox. This is achieved using the update query provided by the node.js driver of MongoDB and is used heavily in my project. 
  <form action="/update" method="post">
  <input type="text" name="newname" id="newname"/>
  </form>
  </div>


 
  
</body>
</html>