<html>
	<head>
		<title>View User Activity</title>
		  <link rel="shortcut icon" href="/css/images/ico.jpg" type="image/ico">
		  <link href="/css/bootstrap.css" rel="stylesheet">
		  <link href="/css/register.css" rel="stylesheet" />
		  <link href="/css/homecss.css" rel="stylesheet" />
		  <script src="/js/bootstrap.js" ></script>
		  <script src="/js/jquery.js" ></script>
		  <script src="/js/viewactivity.js"></script>
	</head>
		<body class="homebody">
			<div class="container" ><div class="h1div"><h1>What've you been doing?</h1></div>

			    <div class="mynavbar">
			      <div class="navbarelements" style="border-width: 0px; font-weight: bold;"><h3>Home</h3></div>
			      <div class="navbarelements"><h4>User Activity</h4></div>
			      <div class="navbarelements"><h4>Search</h4></div>
			      <div class="navbarelements"><h4>Write</h4></div>
			      <div class="navbarelements"><h4>Books!</h4></div>
			      <div class="navbarelements"><h4>Log out!</h4></div>
			    </div><br>

        
		<div class="showdiv" id="readbyme">
			<div id="hovertext"><b>What does this page do? Hover to find out!</b></div>
	    	<div id="hovershow"><b>What'd you read/write last week? Latest comes first! Look on..</b></div>
			<hr>

		<a href="/viewActivity#writtenbyme">Articles written by me</a><br><br>
		<hr>
		<b>Articles Read: </b>

		<br><br>

		</div><br>

		<hr>
		<b>Articles written: </b><br><br>
		<div class="written" id="writtenbyme"></div>
	</div>
	</body>
</html>